<form [formGroup] ='form' (ngSubmit)="onSubmit()">
  <div class="FormGroup">
    <label for="password">Password</label>
    <input
      id="password"
      type="text"
      class="form-control"
      formControlName="password"
      required>
    <div *ngIf="form.controls.password.touched && form.controls.password.errors">
      <div
        *ngIf="form.controls.password.errors.required"
        class="alert alert-danger">Password is required
      </div>
      <div
        *ngIf="form.controls.password.errors.incorrectPassword"
        class="alert alert-danger">Password is incorrect.
      </div>
    </div>

    <label for="newPassword">New Password</label>
    <input
      id="newPassword"
      type="text"
      class="form-control"
      formControlName="newPassword"
      required
      minlength="5">
    <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
      <div
        *ngIf="form.controls.newPassword.errors.required"
        class="alert alert-danger">New password is required
      </div>
      <div
        *ngIf="form.controls.newPassword.errors.minlength"
        class="alert alert-danger">
        Password must be at least {{form.controls.newPassword.errors.minlength.requiredLength}} characters long.
      </div>
    </div>
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        type="text"
        class="form-control"
        formControlName="confirmPassword"
        required>
      <div *ngIf="form.controls.confirmPassword.touched">
        <div
          *ngIf="form.controls.confirmPassword.errors?.required && form.controls.confirmPassword.errors"
          class="alert alert-danger">Please confirm password.
        </div>
        <div
          *ngIf="form.errors?.passwordsMatch"
          class="alert alert-danger">Passwords don't match.
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form>
